html {
    background-image: url('/img/aMADBx5Z4uUsoK0TWdBc2A.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}